@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kumbh Sans", sans-serif;
}
.dark {
  @apply text-wheat bg-black;
  /* @apply text-wheat bg-black; */
}

.open {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 71px;
  /* top: 64px; */
  transition: 0.5s ease-out;
  border-top: 0.1px solid #f5deb321;
  z-index: 1000;
}

.hamburger {
  transform: rotate(45deg);
  transition: 0.5s ease-out;
}

.hamburger span:last-child {
  transform: rotate(-90deg);
  bottom: -4px;
  position: absolute;
  transition: 0.5s ease-out;
}

header span {
  display: block;
}

.hamburger span:nth-child(2) {
  display: none;
}
.hamburger span:first-child {
  width: 1.3rem;
}

nav.open ul {
  display: block;
  right: 9%;
  position: absolute;
}

nav.open li:last-child {
  display: block;
  text-align: center;
  right: 0;
  left: 0;
  position: fixed;
  bottom: 13px;
}

.linx {
  z-index: 1;
}

.linka a {
  position: relative;
  top: -14px;
  right: -47px;
  z-index: 2;
}

/* .linka a {
	display: inline;
	position: relative;
	right: -50px;
	top: -11px;
	z-index: -1;
} */

nav.open ul a {
  padding: 20px 9.75%;
  /* padding: 20px 8.75%; */
  display: block;
  margin-top: 30px;
  text-align: right;
}

nav.open ul a:last-child {
  bottom: 137px;
  position: absolute;
  right: 0;
  left: 0;
}

.close {
  transition: 5.5s ease-out;
}

@media (min-width: 768px) {
  .open {
    /* display: hidden; */
  }

  nav.open ul {
    /* display: hidden; */
  }

  .close {
    /* display: hidden; */
    transition: 0.5s ease-out;
  }
}

.container {
  @apply relative w-full;
}

.image {
  @apply opacity-100 block w-full transition duration-75 ease-in;
}

.middle {
  @apply opacity-0 absolute left-1/2 transition duration-75 ease-in transform -translate-x-1/2 -translate-y-1/2 text-left w-full m-0;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  @apply bg-[#6c6c6c] text-white text-base py-4 md:px-8 px-5 absolute bottom-0 w-full;
}
